*{
  margin: 0;
  padding: 0;
}
:root{
  --body-bg: #10141e;

}
body{
  background-color: var(--body-bg);
  color: white;
  padding: 3.2rem;
}

.app-layout{
  display: flex;
}
.left-side-main{
  width: 40px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191f2e;
  border-radius: 10px;
  height: 80vh;
}
.left-side-first{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.left-side-first>ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  text-decoration: none;
}

.left-side-second{
 margin-top: auto;
}
.main-layout{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10rem 0 10rem;
}
.search-bar-container{
  display:flex;
  gap: 10px;
}
.search-bar-container>input{
  width:100%;
  background: var(--body-bg);
  border: none
}
